#Copyright (c) 2025 pollelsat
#SPDX-License-Identifier: Apache-2.0


config RADIO_CC1125
    bool "CC1125 SPI RADIO TRANSCEIVER"
    default n
    depends on DT_HAS_TI_CC1125_ENABLED
    select SPI
    help
      Enable CC1125 SPI radio transceiver