#Copyright (c) 2025 pollelsat
#SPDX-License-Identifier: Apache-2.0


config FRAM_FM24CL64B
    bool "FM24CL64B I2C FRAM"
    default n
    depends on DT_HAS_INFINEON_FM24CL64B_ENABLED
    select I2C
    select EEPROM
    help
      Enable FM24CL64B I2C FRAM